# Arquivos de build e temporários
target/
build/
build.xml
manifest.mf
*.class

# Arquivos do NetBeans
nbproject/private/

# Configurações do sistema operacional
.DS_Store
Thumbs.db

#arquivos do intellij
.idea/
pom.xml
